# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.so

# ------------------------
# Virtual Environment
# ------------------------
venv/
.env

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Python Packaging
# ------------------------
build/
dist/
*.egg-info/

# ------------------------
# Cache
# ------------------------
.pytest_cache/
.mypy_cache/